* {
  box-sizing: border-box;
}
body {
  display: grid;
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: "Raleway", sans-serif;
  grid-template: 1fr / 1fr 650px;
  grid-template-areas: "photo info";
}

#photo {
  grid-area: photo;
}

#info {
  grid-area: info;
}

.photo {
  position: relative;
}

.photo img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.info {
  padding: 30px;
}

.photo .name {
  display: none;
}

.info .name {
  display: block;
}

.name {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
}

.header span {
  margin: 0 15px;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color: rgb(129, 129, 129);
}

.header::before,
.header::after {
  content: " ";
  width: 100%;
  border-top: 1px solid rgb(185, 182, 182);
}

.role {
  margin-bottom: 5px;
}

.date {
  font-style: italic;
  font-size: 1.1em;
}

.place {
  margin-top: 5px;
  font-size: 1.3em;
  text-decoration: none;
  color: #666;
}

.place:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(36, 36, 36);
}

.container div {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  body {
    grid-template: 400px / 1fr;
    grid-template-areas:
      "photo"
      "info";
  }

  .info .name {
    display: none;
  }

  .photo .name {
    display: block;
    margin-bottom: 3px;
  }

  .photo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .photo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
    color: #fff;
    z-index: 2;
  }
}
